*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #c74b11;
    min-height: 2rem;
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;


        ul{
            display: flex;
            align-items: center;
            gap: 2rem;
        }
    }
}